body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #363637;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav .nav {
  position: relative;
  color: #ebebeb;
  float: left;
  font-size: 2.1rem;
  padding: 0;
}

.dashboard {
  margin: 2em;
}

.trades {
  color: #2196f3;
  
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #2196f3 !important;
  box-shadow: none;
  font-size: 1.1em !important;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #2196f3 !important;
  font-size: 1.1em !important;
}
th {

  color:#ebebeb;
}
td {

  color:grey;
}

tbody tr:hover {

  background-color:#363637;
  color:#2196f3;
}

select {
  background-color: #424242 !important;
  border: 1px solid #363637!important;
  border-radius: 2px;
  color:grey;
  margin-bottom: .7em !important;

}
select:hover {
  border: 1px solid #2196f3 !important;
 
}
select:active {
  border: 1px solid #2196f3 !important;
 
}
label {
  font-size: .9em !important;
  float: left;
  padding: .4em;

}


